<html>
	<head>
		<title>Custmer App</title>
		<script src="https://code.jquery.com/jquery-1.12.4.js"
			  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
			  crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>